.library {
	height: 100vh;

	width: 20%;
	overflow: auto;
	display: flex;
	flex-direction: column;

	h2 {
		padding: 1rem 0rem 3rem 2rem;
	}
}

.library-item {
	display: flex;
	align-self: center;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	transition: all 0.2s ease-in-out;
	img {
		width: 40%;
	}
}

.library-item.isDark {
	background-color: $black;
	color: $white;
	transition: all 0.2s ease-in-out;
}

.library-item:hover,
.library-item.isDark:hover {
	background-color: $yellow;
}

.song-description {
	padding-left: 1rem;
	h3 {
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
	h4 {
		color: lighten($black, 15%);
		font-size: 1rem;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: lighten($yellow, 15%) transparent;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	height: 1rem;
	background-color: lighten($yellow, 15%);
}
