.library {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	overflow: auto;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
	transform: translateX(-100%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	&.active {
		transform: translateX(0);
		opacity: 1;
	}
	h2 {
		padding: 1rem 0rem 3rem 2rem;
	}
}

.library-item {
	display: flex;
	align-self: center;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	transition: all 0.2s ease-in-out;
	img {
		width: 40%;
	}
}

.library-item.isDark {
	background-color: $black;
	color: $white;
	transition: all 0.2s ease-in-out;
}

.library-item:hover,
.library-item.isDark:hover {
	background-color: $yellow;
}

.selected {
	background-color: $yellow;
}

.song-description {
	padding-left: 1rem;
	h3 {
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
	h4 {
		color: lighten($black, 15%);
		font-size: 1rem;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: lighten($yellow, 15%) transparent;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	height: 1rem;
	background-color: lighten($yellow, 15%);
}

@media screen and (max-width: 786px) {
	.library {
		background: #ffffff;
		z-index: 5;
		width: 100%;
	}
}
