.player-container {
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.time-control {
	width: 50%;
	display: flex;
	align-items: center;

	p {
		padding: 1rem;
	}
}

.play-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	padding: 1rem 0;
	svg {
		cursor: pointer;
	}

	.volume-control {
		display: flex;
		align-items: center;
		svg {
			margin-right: 0.7rem;
		}
	}
}

.repeate-color {
	color: $green;
}

@media screen and (max-width: 786px) {
	.time-control {
		width: 90%;
	}

	.play-control {
		width: 60%;
	}
}

@media screen and (max-width: 576px) {
	.play-control {
		.volume-control {
			display: none;
		}
	}
}
