.player-container {
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.time-control {
	width: 50%;
	display: flex;
	align-items: center;

	p {
		padding: 1rem;
	}
}

.play-control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	svg {
		cursor: pointer;
	}
}
