.song-container {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 20rem;
		height: 20rem;
		border-radius: 50%;
	}
	h2 {
		padding: 3rem 1rem 1rem 1rem;
	}
	h3 {
		font-size: 1rem;
	}
}

.rotate-cover {
	animation-name: rotate-animation;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-duration: 10s;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}
	// 25% {
	// 	transform: rotate(90deg);
	// }
	// 50% {
	// 	transform: rotate(180deg);
	// }
	// 75% {
	// 	transform: rotate(270deg);
	// }
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 786px) {
	.song-container {
		img {
			width: 18rem;
			height: 18rem;
		}
	}
}

@media screen and (max-width: 576px) {
	.song-container {
		img {
			width: 15rem;
			height: 15rem;
		}
	}
}
