.customModal {
	height: 25rem;
	overflow: hidden;
	background: transparent;
	box-shadow: none;
}
.customOverlay {
	background: rgba(255, 255, 255, 0.8);
}
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 1rem;

		.card-body {
			padding: 4rem;
			border-radius: 1rem;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
			cursor: pointer;
			transition: all 0.2s ease-in-out;

			&:hover {
				transform: scale(1.2);
			}
		}
		.card-body-1 {
			background: url('../img/system.jpg');
			background-position: center;
			background-size: cover;
		}
		.card-body-2 {
			background: url('../img/dark.jpg');
			background-position: center;
			background-size: cover;
		}
		.card-body-3 {
			background: url('../img/white.jpg');
			background-position: center;
			background-size: cover;
		}
		span {
			padding-bottom: 1rem;
			font-size: 1.2rem;
			font-weight: 700;
			// color: lighten($black, 30%);
		}
	}
}

@media screen and (max-width: 576px) {
	.cards {
		flex-direction: column;
	}
	.customModal {
		height: 100%;
	}
}
